body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
}

.box {
    margin: auto;
    padding: 20px 50px;
    backdrop-filter: blur(10px);
    position: absolute;
    width: 100%;
    left: 500px;
}

img {
    max-width: 100%;
    object-fit: cover;
}