.lista {
    border: 2px solid #000;
}

.lista__item {
    color: gray;
    margin: 10px 0;
    list-style: square;
}

.item--dan {
    color: red;
}

.item--imp {
    color: blue;
}

.lista--vieja {
    opacity: 0.5;
    background-color: #ddd;
}